.gameNotification {
  width: 250px;
  height: 150px;
  font-size: 3rem;
  color: white;
  border: 4px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.76);
}

.link {
  color: lightblue;
}
