.gameSetupContainer {
  width: 400px;
  height: 300px;
  border: 6px solid black;
  border-radius: 30px;
}

.formContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.label {
  padding-right: 15px;
  font-weight: 600;
}

.select {
  font-size: 1.5rem;
  font-weight: 700;
  color: #444;
  width: 20%;

  &:hover {
    cursor: pointer;
  }
}

.inputForm {
  padding: 2px 7px 2px;
  font-size: 1.5rem;
  background-color: red;
  font-weight: 700;
  color: white;
  margin-left: 10px;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
  }
}
