.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/74/11/2d/74112d2dd51b3b5f1210dc9c31179767.jpg");
  background-size: cover;
}
