.rowBlock {
  width: 70px;
  height: 70px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;

  &:not(:first-child) {
    border: 1px solid white;
  }
}

.hit {
  background-color: red;
}

.isTaken {
  background-color: lightblue;
}
