* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px  10px/16px = 62.5%
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
